*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0 80px;
    margin: 0 auto;
}

.header_section{
    background-image: url("/images/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    
    
}

.navbar_subtext{
    width: 45%;
    display: flex;
    align-items: center;
    
    
}

.navbar_subtext p{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.boon h1{
   font-size: 45px;
   color: #747474;
   margin-top: 20px;
   
}

.boon p{
    text-align: center;
    color: #747474;
    margin-top: 8px;
    font-size: 25px;
}

/* MAIN SECTION */


.main_list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
}

.main_list .main_item{
    padding: 40px;
}

.main_list .main_item a{
    color: #2b2b2b;
    font-size: 18px;
    font-weight: bold;
}

.main .main_subtext{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 120px;
    font-weight: bold;
}

.main .main_subtext span{
    color: crimson;
}

.main span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .main_link{
    border-radius: 6px;
    background: #fabaa0;
    padding: 13px 60px;
    transition: all 0.5s ease;
    font-weight: bold;
    margin-top: 50px;
}

.main .main_link:hover{
    color: #fff;
    background: crimson;
}





.work_section .container{
    max-width: 1300px;
    margin: 0 auto;
}

.work_subtext{
    text-align: center;
}

.work_subtext p{
    color: #747474;
    font-size: 14px;
    font-weight: bold;
}

.work_subtext h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.work_list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}