*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0 80px;
    margin: 0 auto;
    height: 120vh;
}

.header_section{
    background-image: url("/images/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    
    
}

.navbar_subtext{
    width: 45%;
    display: flex;
    align-items: center;
    
    
}

.navbar_subtext p{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.boon h1{
   font-size: 45px;
   color: #747474;
   margin-top: 20px;
   
}

.boon p{
    text-align: center;
    color: #747474;
    margin-top: 8px;
    font-size: 25px;
}

/* MAIN SECTION */


.main_list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
}

.main_list .main_item{
    padding: 40px;
}

.main_list .main_item a{
    color: #2b2b2b;
    font-size: 18px;
    font-weight: bold;
}

.main .main_subtext{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 120px;
    font-weight: bold;
}

.main .main_subtext span{
    color: crimson;
}

.main span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .main_link{
    border-radius: 6px;
    background: #fabaa0;
    padding: 13px 60px;
    transition: all 0.5s ease;
    font-weight: bold;
    margin-top: 50px;
}

.main .main_link:hover{
    color: #fff;
    background: crimson;
}




.money{
    background: #708D92;
    width: 80%;
    height: 300px;
    position: absolute;
    left: 11%;
    right: 0%;
    top: 105%;
    
}

.money_border{
    position: absolute;
    width: 1460px;
    height: 240px;
    border: 1px solid #fff;
    left: 2%;
    right: 0%;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.money_box1,
.money_box2{
    width: 30%;
    border-right: 1px solid #fff;
    
}

.money_box1 h2{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.money_box1 p{
    text-align: center;
    color: #fff;

}

.money_box2 h2{
    color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
}

.money_box2 p{
    text-align: center;
    color: #fabaa0;
}

.money_box3{
    width: 30%;
    
}

.money_box_make{
    border-bottom: 1px solid #fff;
    
    

}

.money_box_make h2{
    text-align: center;
    color: #fabaa0;
    margin-bottom: 40px;
    font-weight: 500;

}

.money_box_more p{
    text-align: center;
    color: #fff;
    margin-top: 50px;
}






.work_section .container{
    margin: 0 auto;
    margin-top: 250px;
    height: 70vh;
}

.work_subtext{
    text-align: center;
}

.work_subtext p{
    color: #747474;
    font-size: 14px;
    font-weight: bold;
}

.work_subtext h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.work_list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.work_item{
    text-align: center;
    padding: 70px;
    
}

.work_image{
    width: 280px;
}

.work_text1{
    font-size: 22px;
    font-weight: bold;
    color: #111;
    margin-top: 10px;
}

.work_text1 span{
    color: crimson;
}

.work_text2{
    margin-top: 20px;
    font-size: 14px;
}